* {
    font-family: Montserrat;
}

.square {
    background: #FFF;
    border: 1px solid rgb(210, 210, 210);
    font-size: 10px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 5px;
    vertical-align: top;
    text-align: left;
    padding-bottom: 25px;
    height: 50px;
    width: 50px;
}

.square:hover {
    background: rgb(218, 237, 250);
    border: 1px solid rgb(210, 210, 210);
    font-size: 10px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 5px;
    vertical-align: top;
    text-align: left;
    padding-bottom: 25px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

section {
    display: grid;
    grid-template-columns: repeat(8, 49px);
}

div {
    margin-bottom: 15px;
}